<main>
      <section class="hero-section">
        <div class="hero-content">
          <h2>トレード仲間を見つけよう！</h2>
        </div>
      </section>
      <section class="concept-section">
        <h3>Concept</h3>
        <p>
          FxTradeHubはFXが好きな人が集まる基地(Hub)です。FXは初心者でも上級者でも孤独なりがちです。本アプリを作成することでFXトレーダー同士の交流が少しでも深まれば幸いだと考えました。このアプリが少しでもFXトレーダーの一助になれば幸せです。
        </p>
      </section>
      <section class="features-section">
        <div class="feature-card">
          <div class="feature-icon icon1"></div>
          <h4>トレーダー同士の交流</h4>
          <p>初心者でも上級者でもトレーダーは孤独です。そこで、共通の悩みや課題を持つトレーダーをイベントを作成し、またはイベントに参加することで横のつながりを作ることができます。</p>
        </div>
        <div class="feature-card">
          <div class="feature-icon icon2"></div>
          <h4>安心なイベント作成者</h4>
          <p>掲示板作成機能ではTwitterに投稿が共有することができ、そのいいね数がランキングとして可視化されるため、安心なイベント作成者かどうか判断できやすいです。</p>
        </div>
        <div class="feature-card">
          <div class="feature-icon icon3"></div>
          <h4>モチベーション維持</h4>
          <p>掲示板やイベントが開かれていることをより感じることができモチベーション維持に貢献できるかもしれません。</p>
        </div>
      </section>
</main>