<header>
<a class="logo" href="<%= root_path %>">FXTradeHub</a>
  <nav>
    <ul>
        <li><%= link_to 'イベント一覧', '#' %></li>
        <li><%= link_to 'ログイン', "#" %></li>
        <li><%= link_to 'ユーザー登録', "#" %></li>
      
    </ul>
  </nav>
</header>
